{{define "yield" }}

<div class="row">
  <div class="col-md-12">
    <h1>
        
         {{.Title}} <!-- type Gallery struct--->
    </h1>
    <ul>
      {{range .Images}}
        <li>
          {{.}}
        </li>
      {{end}}
    </ul>
  </div>
</div>

{{end}}

